@import "./colors.scss";

header {
  margin-top: 68px;

  .main-header {
    display: flex;
    .logo {
      flex: 1;
      font-size: 20px;
      font-weight: 600;
    }

    .hover-link {
      font-size: 22px;
      margin-left: 0;
      font-weight: 500;
      display: none;
      &:last-child {
        margin-left: 62px;
      }
    }

    @media (min-width: 760px) {
      .logo {
        font-size: 24px;
      }
      .hover-link {
        display: block;
      }
    }
  }
}
