#home-hero {
  width: 100%;
  position: relative;

  .profile-hero {
    display: none;
    position: absolute;
    height: 400px;
    top: -10px;
    right: 0;
    overflow: hidden;

    img {
      height: 400px;
    }

    @media (min-width: 1275px) {
      display: block;
    }
  }

  .wrapper {
    width: 100%;
    max-width: 670px;
    margin: 190px 0;

    h1 {
      font-size: 46px;
      font-weight: 700;
      line-height: 1.3em;
    }

    h4 {
      font-family: "IBM Plex Mono", "IBM Plex Sans", monospace, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.6em;
    }

    @media (min-width: 760px) {
      margin: 210px 0;
      h1 {
        font-size: 52px;
      }

      h4 {
        font-size: 22px;
      }
    }

    .animate-wave {
      display: inline-block;
      animation-name: wave; /* Refers to the name of your @keyframes element below */
      animation-duration: 2.5s; /* Change to speed up or slow down */
      animation-iteration-count: infinite; /* Never stop waving :) */
      transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    }

    @keyframes wave {
      0% {
        transform: rotate(0deg);
      }
      10% {
        transform: rotate(14deg);
      } /* The following five values can be played with to make the waving more or less extreme */
      20% {
        transform: rotate(-8deg);
      }
      30% {
        transform: rotate(14deg);
      }
      40% {
        transform: rotate(-4deg);
      }
      50% {
        transform: rotate(10deg);
      }
      60% {
        transform: rotate(0deg);
      } /* Reset for the last half to pause */
      100% {
        transform: rotate(0deg);
      }
    }
  }
}
